<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <title>

        LinkedU - University Profile - Home

    </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/toolkit.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/toolkit.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link th:href="@{/assets/css/application.css}" rel="stylesheet">
    <link th:href="@{/assets/css/gsi-step-indicator.css}" rel="stylesheet">

    <style>

        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }

        .validation-message {
            display: block;
            color: red;
            font-size: 14px;
            font-weight: bold;
        }

        .successMessage {
            display: block;
            color: #00cc00;
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 10px;

        }

        .bold-text {
            font-weight: bold;
        }
.navbar-brand{
    width: 3em;
    margin-top: -0.5em;
}
        /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    </style>
    <link rel="stylesheet" href="../../static/assets/css/gsi-step-indicator.css">
</head>

<body class="with-top-navbar">
<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img th:src="@{/Image/logo.jpg}" alt="brand">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">

            <ul class="nav navbar-nav hidden-xs">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>

                    <a th:href="@{/recruiter/search-student}">Search Student</a>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
                <li>
                    <a class="app-notifications" href="#">
                        <span class="icon icon-bell"></span>
                    </a>
                </li>
                <li>
                    <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
                        <img class="img-circle" src="/assets/img/avatar-dhg.png">
                    </button>
                </li>
            </ul>

            <form class="navbar-form navbar-right app-search" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" data-action="grow" placeholder="Search">
                </div>
            </form>

            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <!--<li><a href="#">Home</a></li>-->
                <li><a href="#">Profile</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav hidden">
                <li><a th:href="@{/logout}" class="btn btn-md btn-primary col-md-10 col-md-offset-1">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container p-t-md">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default panel-profile m-b-md">
                <div class="panel-heading" style="background-image: url(/assets/img/iceland.jpg);"></div>
                <div class="panel-body text-center">
                    <a href="profile/index.html">
                        <img
                                class="panel-profile-img"
                                src="/assets/img/avatar-dhg.png">
                    </a>

                    <h5 class="panel-title">
                        <a class="text-inherit" href="#">
                            <span th:utext="${universityProfile.university_name}"></span>
                            <br>
                            <h6>
                                Account Handler:
                                <span th:utext="${user.firstName}"></span>
                                <span th:utext="${user.lastName}"></span>
                            </h6>
                        </a>
                    </h5>

                    <p class="m-b-md"></p>

                    <ul class="panel-menu">
                        <li class="panel-menu-item">

                        </li>

                        <li class="panel-menu-item">

                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default visible-md-block visible-lg-block">
                <div class="panel-body">
                    <h5 class="m-t-0">About
                        <small>· <a href="#">Edit</a></small>
                    </h5>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-calendar m-r"></span>Hello, <span
                                th:utext="${user.firstName}"></span> <span th:utext="${user.lastName}"></span>!
                        </li>
                        <li><span class="text-muted icon icon-github m-r"></span>Email : <span
                                th:utext="${user.email}"></span></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <ul class="list-group media-list media-list-stream">

                <li class="media list-group-item p-a">
                    <h2 class="m-t-0">
                        <span class="bold-text" th:utext="${universityProfile.university_name}"></span>

                    </h2>
                    <br>
                    <h5 class="m-t-0">Details
                        <small><a th:href="@{/profileupdate}">Edit</a></small>
                    </h5>

                    <ul class="list-group list-spaced">
                        <li class="list-group-item">
                            Address:
                            <span class="bold-text" th:text="${universityProfile.address}"></span>
                        </li>
                        <li class="list-group-item">
                            City:
                            <span class="bold-text" th:utext="${universityProfile.city}"></span>
                        </li>
                        <li class="list-group-item">
                            State:
                            <span class="bold-text" th:utext="${universityProfile.state}"></span>
                        </li>
                        <li class="list-group-item">
                            Zip:
                            <span class="bold-text" th:utext="${universityProfile.zip}"></span>
                        </li>
                        <li class="list-group-item">
                            Contact:
                            <span class="bold-text" th:utext="${universityProfile.contact}"></span>
                        </li>
                        <li class="list-group-item">
                            Terms:
                            <span class="bold-text" th:utext="${universityProfile.terms}"></span>
                        </li>
                        <li class="list-group-item">
                            Website:
                            <a class="bold-text" th:href="${universityProfile.website}">
                            <span class="bold-text"
                                  th:utext="${universityProfile.website}">
                            </span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="media list-group-item p-a">

                    <div class="media-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Program name</th>
                                <th>Minimum GPA score required</th>
                                <th>Minimum ACT score required</th>
                            </tr>
                            <tr th:each="program:${universityProgram}">
                                <td th:text="${program.program_name}"></td>
                                <td><a href="#" th:text="${program.min_GPA}"></a></td>
                                <td th:text="${program.min_ACT}"></td>
                            </tr>
                        </table>
                    </div>
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="container">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->

                                <h1 class="text-center">
                                    <a href="#myModal" role="button" class="btn btn-primary btn-lg"
                                       data-toggle="modal">Add program</a>
                                </h1>
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h3 id="myModalLabel">Add more programs</h3>
                                </div>
                                <div class="modal-body">
                                    <!--                                        <form class="form-horizontal col-sm-12">
                                                                                <div class="form-group"><label>Name</label><input class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text"></div>
                                                                                <div class="form-group"><label>Message</label><textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual"></textarea></div>
                                                                                <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text"></div>
                                                                                <div class="form-group"><label>Phone</label><input class="form-control phone" placeholder="999-999-9999" data-placement="top" data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" type="text"></div>
                                                                                <div class="form-group"><button type="submit" class="btn btn-success pull-right">Send It!</button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p></div>
                                                                            </form>-->

                                    <form class="form-horizontal col-sm-12" autocomplete="off" id="msform"
                                          action="#" th:action="@{/program}" th:object="${program}" method="post"
                                          role="form">

                                        <input type="text" name="program_name" placeholder="Program name"
                                               th:value="*{program_name}"/>
                                        <input type="text" name="min_GPA" placeholder="Min GPA Score"
                                               th:value="*{min_GPA}"/>
                                        <input type="text" name="min_ACT" placeholder="Min ACT score"
                                               th:value="*{min_ACT}"/>

                                        <button type="submit" name="submit" class="submit action-button">submit
                                            </button>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-3">


            <div class="panel panel-default m-b-md hidden-xs">
                <div class="panel-body">
                    <h5 class="m-t-0">Featured University</h5>
                    <div data-grid="images" data-target-height="150">
                        <img class="media-object" data-width="640" data-height="640" data-action="zoom"
                             src="/Image/isu.jpg">
                    </div>
                    <p><strong>Illinois State University</strong> <br>Illinois State University, founded in 1857 as
                        Illinois State Normal University, is the oldest public university in Illinois and is located in
                        Normal, Illinois</p>
                    <button class="btn btn-primary-outline btn-sm">Apply Now</button>
                </div>
            </div>
            <div class="panel panel-default panel-link-list">
                <div class="panel-body">


                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>

                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/chart.js}"></script>
<script th:src="@{/assets/js/toolkit.js}"></script>
<script th:src="@{/assets/js/application.js}"></script>
<script>
    // execute/clear BS loaders for docs
    $(function () {
        if (window.BS && window.BS.loader && window.BS.loader.length) {
            while (BS.loader.length) {
                (BS.loader.pop())()
            }
        }
    })
</script>
</body>
</html>