<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        University details

    </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/toolkit.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/toolkit.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link th:href="@{/assets/css/application.css}" rel="stylesheet">

    <style>
        .row {
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 50px;
        }

        .panel-profile-img {
            max-width: 200px;
            margin-top: -70px;
            margin-bottom: 5px;
            border: 3px solid #fff;
            border-radius: 70%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        .navbar-brand{
            width: 3em;
            margin-top: -0.5em;
        }
    </style>

<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="Image/logo.jpg" alt="brand">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-main">

                <ul class="nav navbar-nav hidden-xs">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/universities}">Universities</a>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SignUp<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/registration-student}">As Student</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a th:href="@{/registration-recruiter}">As Recruiter</a>
                            </li>
                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">

                    <li>
                        <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">

                        </button>
                    </li>

                </ul>

                <form class="navbar-form navbar-right app-search" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" data-action="grow" placeholder="Search">
                    </div>
                </form>

                <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                    <li><a th:href="@{/}">Home</a></li>

                </ul>


            </div>
        </div>
    </nav>
</div>
<div class="container" style="margin-top: 5em;">
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>University Name</th>
            <th>City</th>
            <th>State</th>
            <th>Address</th>
            <th>Website</th>
            <th>Terms</th>
            <th>Zip</th>
            <th>Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td th:text="${profile.user}">A Smoke Test</td>
            <td th:text="${profile.university_name}">A Smoke Test</td>
            <td th:text="${profile.city}">A Smoke Test</td>
            <td th:text="${profile.state}">A Smoke Test</td>
            <td th:text="${profile.address}">A Smoke Test</td>
            <td th:text="${profile.website}">A Smoke Test</td>
            <td th:text="${profile.terms}">A Smoke Test</td>
            <td th:text="${profile.zip}">A Smoke Test</td>
            <td th:text="${profile.contact}">A Smoke Test</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid panel-footer">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                    <a th:href="@{/about-us}">About Us</a>
                </li>
                <li>
                    <a th:href="@{/contact-us}">Contact Us</a>
                </li>
                <li>
                    <a th:href="@{/terms}">Terms & Condition</a>
                </li>
                <li>
                    <a th:href="@{/policies}">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-2">

            <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>

        </div>
    </div>
</div>


<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/chart.js}"></script>
<script th:src="@{assets/js/toolkit.js}"></script>
<script th:src="@{assets/js/application.js}"></script>
<script>
    // execute/clear BS loaders for docs
    $(function () {
        if (window.BS && window.BS.loader && window.BS.loader.length) {
            while (BS.loader.length) {
                (BS.loader.pop())()
            }
        }
    });
</script>
</body>
</html>