<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LinkedU - Upload</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Upload file</h1>
        (file upload limit: 5mb per file)
        <form method="POST" action="/upload" enctype="multipart/form-data" class="form-signin">
            <input type="hidden" id="type" name="type"  value="profile"
                   class="form-control" /> <br/>
            <label class="btn btn-default btn-file">
                Browse <input type="file" name="file" hidden />
            </label>
            <br/>
            <input type="submit" value="Submit" class="btn btn-sm btn-primary btn-block" />
        </form>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </div>

</div>

</body>
</html>